doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title=title
    style
      include styles/globals.css
  body
    h1 Mesagges list
    ul.column-flex
      if (messages.length) 
        each message in messages 
          li 
            div.column-flex
              span "Poster: #{message.author}"  
              p= message.messageText
              span Sent: #{message.added}
      else
        span No messages yet.